<div class="dark:text-neutral-200 py-8 w-6/12 mx-auto">
	<h1 class="dark:text-white text-3xl py-5">About me</h1>
	<div class="text-justify flex flex-col gap-6">
		<p>Hello there! My name is Adrián and I am a junior programmer who was born and raised in
			Spain. I have always had a passion for technology, and I am always curious about the latest trends and
			advancements in this field.
		</p>
		<p>
			As a programmer, I enjoy the challenge of finding innovative solutions to complex problems. I find great
			satisfaction in turning my ideas into reality through coding, and I am constantly looking for ways to
			improve my skills and expand my knowledge.
		</p>
		<p>
			In addition to programming, I enjoy exploring new technology and gadgets. I find it fascinating to see how
			technology has evolved over time and how it continues to shape the world we live in today. My curiosity
			about technology extends beyond just software and programming, and I am always eager to learn about new
			hardware and devices as well.
		</p>
		<p>
			When I'm not working on a project or discovering new technology, you can usually find me playing video
			games. Gaming is another one of my hobbies that I enjoy in my free time. I find it to be a great way to
			unwind and relax after a long day of coding.
		</p>
		<p>
			One of the qualities that sets me apart from others is my proactive approach to work and life. I am always
			looking for ways to improve myself, take on new challenges, and find solutions to problems. This proactive
			mindset is what drives me to constantly learn and grow in my field, and I believe it is a key factor in my
			success as a programmer.
		</p>
		<p>
			Thank you for taking the time to read my about me page. If you have any questions or would like to connect,
			feel free to reach out to me!
		</p>
	</div>
</div>