<ul class="sm:navbar-container navbar-container-mobile">
	<li class="w-12 h-12 flex justify-center items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="" routerLink="/"><span>home</span></a>
	</li>
	<li class="w-12 h-12 flex justify-center items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="" routerLink="/projects"><span>projects</span></a>
	</li>
	<li class="w-12 h-12 flex justify-center items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="" routerLink="/about"><span>about</span></a>
	</li>
</ul>
