<ul class="sm:navbar-container navbar-container-mobile">
	<li class="w-12 h-12 flex justify-center items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="" routerLink="/"><fa-icon class="" [icon]="homeIcon" size="lg"></fa-icon></a>
	</li>
	<li class="w-12 h-12 flex justify-center items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="" routerLink="/projects"><fa-icon [icon]="projectsIcon" size="lg"></fa-icon></a>
	</li>
	<li class="w-12 h-12 flex justify-center items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="" routerLink="/about"><fa-icon [icon]="aboutIcon" size="lg"></fa-icon></a>
	</li>
	<li class="w-12 h-12 flex justify-center items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="" routerLink="/contact"><fa-icon [icon]="contactIcon" size="lg"></fa-icon></a>
	</li>
</ul>
