<ul class="sm:navbar-container navbar-container-mobile">
	<li class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="flex items-center justify-center h-full" routerLink="/"><span class="material-symbols-rounded text-3xl">home</span></a>
	</li>
	<li class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="flex items-center justify-center h-full" routerLink="/projects"><span class="material-symbols-rounded text-3xl">gallery_thumbnail</span></a>
	</li>
	<li class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	  <a class="flex items-center justify-center h-full" routerLink="/about"><span class="material-symbols-rounded text-3xl">person</span></a>
	</li>
</ul>
