<div class="flex flex-col justify-center items-center h-screen mx-auto w-fit text-center dark:text-slate-50">
	<h1 class="text-5xl tracking-tight w-full">Hi! I'm <span class="font-medium">Adrián R</span></h1>
	<h2 class="text-5xl tracking-tight w-full font-extralight dark:text-gray-300 text-gray-700">Junior Developer</h2>

	<div class="flex flex-col mt-8 w-full gap-2">
		<app-button type="link" href="https://github.com/AdrianR25" icon="deployed_code" class="w-full text-xl">GitHub</app-button>
		<app-button type="link" styleClass="outlined" href="/projects" icon="gallery_thumbnail" class="w-full text-xl">Projects</app-button>
	</div>
</div>