:root {
  /* main colors, used for links, button background and call-to-action */
  --color-primary: #ffffff;

  /* surface colors, used for page and card backgrounds */
  --color-background: #1a1c24;
  --color-surface: #313542;

  /* text colors */
  --color-text: #e7e7e7;
  --color-text-secondary: #000000;
}
