@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo-VariableFont_wght.woff2") format("woff2");
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 100 900;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo-Italic-VariableFont_wght.woff2") format("woff2");
  font-style: italic;
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 100 900;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 300 900;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Italic-VariableFont_wght.woff2") format("woff2");
  font-style: italic;
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 300 900;
}

:root {
  --font-primary: "Rubik";
  --font-secondary: "Aleo";

  /* set base values */
  --text-base-size: 18px;

  /* type scale */
  --text-xs: 0.5rem
  --text-sm: 0.9rem;
  --text-md: 1rem;
  --text-lg: 1.3rem;
  --text-xl: 2rem;
  --text-xxl: 2.7rem;
  --text-xxxl: 4rem;

  font-size: var(--text-base-size);
}

body {
  background-color: var(--color-background);

  font-family: var(--font-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
  font-family: var(--font-secondary);
  margin-bottom: var(--space-xxs);
  font-weight: 400;
}

.text-xxxl {
    font-size: var(--text-xxxl);
}

h1,
.text-xxl {
  font-size: var(--text-xxl);
}

h2,
.text-xl {
  font-size: var(--text-xl);
}

h3,
.text-lg {
  font-size: var(--text-lg);
}

h4,
.text-md {
  font-size: var(--text-md);
}

.text-sm,
small {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}
