@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo-VariableFont_wght.ttf") format("truetype");
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 100 900;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 100 900;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 300 900;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-weight: 300 900;
}


:root {
  /* main colors, used for links, button background and call-to-action */
  --color-primary: #ffffff;

  /* surface colors, used for page and card backgrounds */
  --color-background: #1a1c24;
  --color-surface: #313542;

  /* text colors */
  --color-text: #e7e7e7;
  --color-text-secondary: #000000;

  --font-primary: "Rubik";
  --font-secondary: "Aleo";

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {

  background-color: var(--color-background);

  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1, h2, h3, h4, form legend {
  font-family: var(--font-secondary);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1, .text--xxl {
  font-size: var(--text-xxl);
}

h2, .text--xl {
  font-size: var(--text-xl);
}

h3, .text--lg {
  font-size: var(--text-lg);
}

h4, .text--md {
  font-size: var(--text-md);
}

.text--sm, small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}
