@import url(_colors.scss);
@import url(_typography.scss);

:root {
  /* spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3.25rem;
  --space-xxl: 6.7rem;

  /* border */
  --border-radius: 10px;

}

/* screen sizes */
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

.section {
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 var(--space-sm);
  width: 100%;

  @media (min-width: $sm-breakpoint) {
    max-width: 540px;
  }

  @media (min-width: $md-breakpoint) {
    max-width: 720px;
  }

  @media (min-width: $lg-breakpoint) {
    max-width: 960px;
  }

  @media (min-width: $xl-breakpoint) {
    max-width: 1140px;
  }

  @media (min-width: $xxl-breakpoint) {
    max-width: 1320px;
  }
}