<div *ngIf="type === 'content'" class=" bg-white w-80 rounded-md shadow-lg dark:text-white dark:bg-slate-800 h-full flex flex-col">
	<a [routerLink]="['/project', projectId]">
		<h4 class="p-4 text-xl font-semibold">{{ name }}</h4>
		<img src="{{ imgSrc }}" alt>
	</a>
	<p class="p-4">{{ shortDesc }}</p>
	<div class="p-4 pt-0 flex justify-end mt-auto">
		<app-button *ngIf="codeUrl" styleClass="outlined" type="link" [href]="codeUrl" icon="code">Code</app-button>
		<app-button *ngIf="projectUrl" type="link" [href]="projectUrl" icon="open_in_new" class="ml-3">Live Demo</app-button>
	</div>
</div>
<div *ngIf="type === 'skeleton'" class=" bg-white w-80 rounded-md shadow-lg dark:text-white dark:bg-slate-800 h-full flex flex-col">
	<div class="animate-pulse">
		<div class="m-4 w-40 h-5 bg-slate-400 dark:bg-slate-700 rounded-full"></div>
		<div class="w-full h-48 bg-slate-400 dark:bg-slate-700"></div>
		<div class="mx-2 mt-3 w-4-5 h-5 bg-slate-400 dark:bg-slate-700 rounded-full"></div>
		<div class="m-2 w-2/3 h-5 bg-slate-400 dark:bg-slate-700 rounded-full"></div>
		<div class="p-4 pt-2 flex justify-end mt-auto gap-2">
			<div class="w-24 h-12 bg-slate-400 dark:bg-slate-700 rounded-lg"></div>
			<div class="w-24 h-12 bg-slate-400 dark:bg-slate-700 rounded-lg"></div>
		</div>
	</div>
</div>